@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #010108;
}

h3 {
  font-family: Montserrat, sans-serif;
}

.block {
  position: relative;
  animation: pulsar 15s infinite; /* Adicionando a animação pulsar */
}

@keyframes pulsar {
  0% {
    box-shadow: 0 0 390px #37306b; /* Sombra vermelha */
  }
  50% {
    box-shadow: 0 0 490px #66347f, 0 0 490px #9e4784; /* Sombra vermelha mais intensa */
  }
  100% {
    box-shadow: 0 0 390px #37306b; /* Retornando à sombra inicial */
  }
}

.block:after {
  filter: blur(150px);
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); /* Ajuste a altura da pulsação aqui */
  }
  100% {
    transform: translateY(0);
  }
}

.pulsating-arrow {
  animation: pulse 2s infinite; /* Ajuste a duração da pulsação aqui */
}


.fade-in-image {
  animation: fadeIn 5s ease /* fadeIn e pulse combinadas */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9); /* Reduz o tamanho inicial para evitar problemas de rolagem */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Mantém o tamanho normal */
  }
}





@keyframes changeWidthAndColor {
  0% {
    width: 0%;
    background-color: rgba(121,223,255,1); /* Cor inicial - vermelho */
  }
  50% {
    width: 50%;
    background-color: rgba(227,185,76,1); /* Cor intermediária - verde */
  }
  100% {
    width: 100%;
    background-color: rgba(252,69,69,1); /* Cor final - verde */
  }
}

.your-element {
  height: 0.5rem; /* Ajuste a altura conforme necessário */
  animation: changeWidthAndColor 7s linear forwards; /* Ajuste a duração conforme necessário */
  transition: background-color 0.5s ease; /* Transição suave de cor */
}







