#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1668px 11409px #fff, 813px 1791px #fff, 1558px 1006px #fff,
    607px 705px #fff, 841px 258px #fff, 818px 530px #fff, 1744px 984px #fff,
    79px 83px #fff, 234px 840px #fff, 1206px 859px #fff, 1997px 1957px #fff,
    1639px 1576px #fff, 44px 1648px #fff, 1115px 1820px #fff, 1438px 497px #fff,
    66px 1848px #fff, 1820px 1251px #fff, 1919px 1134px #fff, 583px 337px #fff,
    67px 1056px #fff, 694px 1044px #fff, 94px 600px #fff, 408px 101px #fff,
    15px 1233px #fff, 1098px 974px #fff, 235px 562px #fff, 1561px 1965px #fff,
    100px 1146px #fff, 918px 181px #fff, 1502px 661px #fff, 1213px 1509px #fff,
    1578px 1507px #fff, 648px 322px #fff, 1512px 1124px #fff, 729px 416px #fff,
    1094px 592px #fff, 968px 1056px #fff, 1445px 1960px #fff, 1470px 1752px #fff,
    1820px 1427px #fff, 1435px 676px #fff, 1954px 1003px #fff, 1708px 880px #fff,
    1302px 1880px #fff, 733px 1952px #fff, 790px 1886px #fff, 1725px 754px #fff,
    1059px 1354px #fff, 717px 1766px #fff, 920px 1090px #fff, 1250px 893px #fff,
    246px 706px #fff, 1200px 1716px #fff, 927px 773px #fff, 333px 1776px #fff,
    130px 252px #fff, 310px 1829px #fff, 634px 218px #fff, 682px 1683px #fff,
    1117px 8px #fff, 16px 691px #fff, 703px 2000px #fff, 799px 802px #fff,
    1861px 286px #fff, 333px 211px #fff, 513px 1094px #fff, 1345px 486px #fff,
    358px 949px #fff, 836px 1140px #fff, 1470px 1360px #fff, 1849px 1582px #fff,
    470px 898px #fff, 880px 825px #fff, 1076px 529px #fff, 1387px 909px #fff,
    1373px 1386px #fff, 1603px 520px #fff, 161px 457px #fff, 647px 1129px #fff,
    445px 1312px #fff, 1977px 962px #fff, 1960px 1181px #fff, 951px 255px #fff,
    1400px 1495px #fff, 6px 671px #fff, 77px 1668px #fff, 175px 1728px #fff,
    1369px 1721px #fff, 1911px 1002px #fff, 1500px 1540px #fff,
    1808px 1757px #fff, 561px 872px #fff, 57px 97px #fff, 155px 1018px #fff,
    215px 1773px #fff, 292px 869px #fff, 572px 641px #fff, 166px 1044px #fff,
    1012px 682px #fff, 1px 1466px #fff, 1412px 1304px #fff, 1876px 1364px #fff,
    1180px 1062px #fff, 1767px 79px #fff, 1489px 1223px #fff, 1024px 284px #fff,
    588px 1013px #fff, 1730px 424px #fff, 1442px 162px #fff, 688px 1196px #fff,
    1641px 40px #fff, 106px 315px #fff, 998px 1588px #fff, 616px 1422px #fff,
    1412px 1388px #fff, 1164px 184px #fff, 539px 1140px #fff, 909px 484px #fff,
    1128px 901px #fff, 303px 1377px #fff, 702px 1228px #fff, 1135px 1234px #fff,
    324px 1914px #fff, 1296px 886px #fff, 955px 1554px #fff, 744px 1872px #fff,
    201px 1167px #fff, 728px 814px #fff, 1200px 577px #fff, 740px 340px #fff,
    1641px 689px #fff, 82px 668px #fff, 1706px 119px #fff, 1722px 816px #fff,
    1766px 1397px #fff, 1368px 390px #fff, 1988px 1498px #fff, 747px 1599px #fff,
    268px 1911px #fff, 1782px 888px #fff, 239px 706px #fff, 1502px 1636px #fff,
    892px 1947px #fff, 1763px 1728px #fff, 892px 1577px #fff, 1453px 1622px #fff,
    86px 1620px #fff, 1722px 116px #fff, 736px 1450px #fff, 418px 929px #fff,
    404px 1990px #fff, 1612px 1072px #fff, 1551px 1281px #fff,
    1103px 1938px #fff, 428px 1686px #fff, 744px 118px #fff, 1270px 153px #fff,
    863px 1731px #fff, 720px 345px #fff, 1421px 1040px #fff, 1254px 1482px #fff,
    815px 837px #fff, 1117px 1027px #fff, 1312px 1287px #fff, 1632px 1081px #fff,
    1596px 86px #fff, 130px 545px #fff, 940px 1359px #fff, 1437px 1792px #fff,
    1304px 1291px #fff, 1940px 1455px #fff, 1270px 823px #fff, 1120px 529px #fff,
    619px 1013px #fff, 1896px 1710px #fff, 1331px 1028px #fff, 432px 432px #fff,
    1859px 254px #fff, 1883px 191px #fff, 1436px 715px #fff, 412px 993px #fff,
    1642px 431px #fff, 742px 736px #fff, 1506px 95px #fff, 1340px 1334px #fff,
    1525px 1714px #fff, 1231px 165px #fff, 1938px 244px #fff, 306px 203px #fff,
    1943px 360px #fff, 900px 1134px #fff, 1264px 769px #fff, 202px 1437px #fff,
    276px 614px #fff, 313px 253px #fff, 287px 1426px #fff, 1449px 1158px #fff,
    1979px 128px #fff, 1518px 1374px #fff, 1942px 848px #fff, 47px 1541px #fff,
    1977px 1538px #fff, 1196px 1055px #fff, 1340px 1861px #fff,
    1615px 1459px #fff, 1684px 1460px #fff, 424px 1782px #fff, 156px 1230px #fff,
    1582px 1810px #fff, 1969px 1733px #fff, 1259px 1948px #fff, 761px 610px #fff,
    1359px 667px #fff, 231px 25px #fff, 101px 547px #fff, 1505px 1121px #fff,
    589px 230px #fff, 1743px 724px #fff, 1028px 322px #fff, 375px 528px #fff,
    1603px 895px #fff, 1562px 540px #fff, 1257px 197px #fff, 165px 1333px #fff,
    1876px 868px #fff, 1536px 1669px #fff, 1619px 683px #fff, 1498px 750px #fff,
    1346px 1955px #fff, 1221px 1610px #fff, 679px 909px #fff, 845px 1232px #fff,
    1248px 1084px #fff, 171px 566px #fff, 1933px 1434px #fff, 1064px 1805px #fff,
    1730px 629px #fff, 380px 432px #fff, 231px 1613px #fff, 1877px 766px #fff,
    1020px 1493px #fff, 915px 878px #fff, 917px 57px #fff, 1630px 1658px #fff,
    112px 1948px #fff, 1661px 15px #fff, 1952px 307px #fff, 952px 92px #fff,
    1159px 1364px #fff, 510px 148px #fff, 1680px 952px #fff, 1339px 1524px #fff,
    141px 1812px #fff, 1253px 207px #fff, 1854px 364px #fff, 958px 1841px #fff,
    1402px 909px #fff, 1037px 1051px #fff, 1634px 318px #fff, 331px 538px #fff,
    1621px 1817px #fff, 598px 1794px #fff, 355px 1893px #fff, 1px 1323px #fff,
    403px 1445px #fff, 1983px 190px #fff, 434px 460px #fff, 1145px 1401px #fff,
    1609px 594px #fff, 1614px 1315px #fff, 530px 1896px #fff, 350px 1328px #fff,
    1410px 1899px #fff, 799px 54px #fff, 1636px 487px #fff, 201px 558px #fff,
    1835px 885px #fff, 1478px 1674px #fff, 1727px 1260px #fff,
    1896px 1916px #fff, 611px 976px #fff, 1008px 386px #fff, 1914px 572px #fff,
    707px 384px #fff, 1343px 254px #fff, 969px 721px #fff, 31px 1981px #fff,
    862px 1144px #fff, 1906px 1690px #fff, 1711px 1522px #fff,
    1640px 1432px #fff, 1473px 92px #fff, 178px 1868px #fff, 1581px 488px #fff,
    1883px 286px #fff, 1458px 726px #fff, 551px 306px #fff, 1481px 825px #fff,
    1482px 739px #fff, 1186px 197px #fff, 482px 883px #fff, 1740px 1444px #fff,
    974px 559px #fff, 846px 1058px #fff, 1042px 333px #fff, 1671px 1986px #fff,
    333px 1433px #fff, 1791px 264px #fff, 355px 301px #fff, 1px 1667px #fff,
    1060px 1198px #fff, 1401px 1708px #fff, 1573px 177px #fff,
    1663px 1957px #fff, 744px 1796px #fff, 810px 487px #fff, 619px 1121px #fff,
    1899px 1375px #fff, 334px 700px #fff, 1801px 1764px #fff, 1681px 1810px #fff,
    1199px 510px #fff, 1037px 1710px #fff, 1880px 1355px #fff, 1811px 803px #fff,
    1151px 122px #fff, 1751px 1435px #fff, 983px 118px #fff, 661px 337px #fff,
    321px 806px #fff, 727px 497px #fff, 1442px 1555px #fff, 1401px 1612px #fff,
    85px 1434px #fff, 1358px 1076px #fff, 1491px 1906px #fff, 906px 1043px #fff,
    635px 337px #fff, 1143px 1929px #fff, 671px 1767px #fff, 1875px 446px #fff,
    1267px 1605px #fff, 1102px 716px #fff, 1582px 983px #fff, 1492px 352px #fff,
    1512px 1137px #fff, 376px 1111px #fff, 219px 804px #fff, 1098px 875px #fff,
    583px 122px #fff, 559px 289px #fff, 1589px 450px #fff, 589px 1976px #fff,
    909px 1112px #fff, 1168px 351px #fff, 688px 105px #fff, 346px 1205px #fff,
    687px 1693px #fff, 1319px 1816px #fff, 1339px 1041px #fff, 1551px 35px #fff,
    107px 1146px #fff, 241px 1112px #fff, 754px 30px #fff, 1248px 1277px #fff,
    1205px 1501px #fff, 1700px 113px #fff, 1299px 6px #fff, 169px 685px #fff,
    764px 467px #fff, 953px 1376px #fff, 1973px 797px #fff, 567px 1140px #fff,
    185px 736px #fff, 965px 985px #fff, 1761px 534px #fff, 974px 1492px #fff,
    1773px 1049px #fff, 1720px 178px #fff, 912px 1156px #fff, 987px 464px #fff,
    1892px 1019px #fff, 1415px 587px #fff, 518px 628px #fff, 83px 693px #fff,
    159px 190px #fff, 169px 1463px #fff, 1906px 666px #fff, 1010px 1597px #fff,
    715px 1616px #fff, 890px 1207px #fff, 1412px 119px #fff, 965px 709px #fff,
    652px 1365px #fff, 354px 729px #fff, 685px 528px #fff, 49px 1641px #fff,
    1107px 23px #fff, 1905px 1227px #fff, 298px 1492px #fff, 1272px 510px #fff,
    1402px 1347px #fff, 1872px 1958px #fff, 207px 1465px #fff, 388px 269px #fff,
    1593px 1009px #fff, 1295px 578px #fff, 1640px 1240px #fff,
    1620px 1606px #fff, 1083px 1824px #fff, 962px 1292px #fff,
    1619px 1606px #fff, 118px 500px #fff, 1253px 565px #fff, 921px 940px #fff,
    1757px 1485px #fff, 684px 664px #fff, 98px 128px #fff, 775px 1285px #fff,
    1486px 1359px #fff, 1328px 1511px #fff, 182px 1720px #fff,
    1046px 1962px #fff, 1845px 954px #fff, 703px 288px #fff, 901px 573px #fff,
    854px 1289px #fff, 1258px 512px #fff, 1319px 1540px #fff, 1969px 1313px #fff,
    573px 842px #fff, 1657px 1162px #fff, 734px 635px #fff, 979px 1008px #fff,
    747px 647px #fff, 891px 1473px #fff, 595px 766px #fff, 1835px 1081px #fff,
    1021px 415px #fff, 904px 1550px #fff, 696px 698px #fff, 158px 1257px #fff,
    585px 1648px #fff, 1563px 798px #fff, 284px 1388px #fff, 1945px 207px #fff,
    1741px 131px #fff, 1962px 506px #fff, 1337px 419px #fff, 299px 395px #fff,
    870px 76px #fff, 397px 621px #fff, 1607px 1980px #fff, 1997px 1449px #fff,
    897px 1282px #fff, 1559px 1321px #fff, 1134px 1776px #fff, 984px 1500px #fff,
    1650px 638px #fff, 1046px 1550px #fff, 1452px 576px #fff, 1997px 74px #fff,
    132px 667px #fff, 1784px 874px #fff, 254px 1237px #fff, 1876px 142px #fff,
    1091px 849px #fff, 430px 347px #fff, 131px 623px #fff, 267px 1024px #fff,
    691px 267px #fff, 1835px 1717px #fff, 969px 526px #fff, 741px 1274px #fff,
    1105px 63px #fff, 692px 912px #fff, 168px 1543px #fff, 548px 119px #fff,
    725px 666px #fff, 1438px 1445px #fff, 609px 1669px #fff, 1051px 1132px #fff,
    520px 1920px #fff, 1040px 1296px #fff, 383px 189px #fff, 1574px 1821px #fff,
    1597px 259px #fff, 623px 1918px #fff, 1207px 633px #fff, 1932px 952px #fff,
    274px 1905px #fff, 615px 974px #fff, 219px 1518px #fff, 470px 656px #fff,
    1940px 941px #fff, 37px 1440px #fff, 1854px 1487px #fff, 818px 1329px #fff,
    104px 362px #fff, 488px 1484px #fff, 859px 1619px #fff, 1526px 1548px #fff,
    1089px 816px #fff, 6px 2000px #fff, 1701px 1800px #fff, 825px 1325px #fff,
    1636px 1335px #fff, 84px 116px #fff, 1591px 678px #fff, 447px 649px #fff,
    1190px 131px #fff, 128px 1799px #fff, 1857px 1687px #fff, 1404px 1807px #fff,
    1589px 911px #fff, 1034px 1429px #fff, 1635px 1833px #fff, 134px 1295px #fff,
    866px 729px #fff, 284px 981px #fff, 1764px 464px #fff, 240px 1785px #fff,
    709px 219px #fff, 1759px 1341px #fff, 1329px 270px #fff, 1127px 1938px #fff,
    253px 1430px #fff, 1830px 126px #fff, 1945px 1044px #fff, 1396px 1870px #fff,
    1151px 843px #fff, 1027px 860px #fff, 178px 17px #fff, 1646px 1059px #fff,
    310px 1175px #fff, 589px 1179px #fff, 1341px 699px #fff, 1186px 287px #fff,
    1987px 926px #fff, 499px 1210px #fff, 1978px 1498px #fff, 1915px 21px #fff,
    1081px 496px #fff, 126px 724px #fff, 1372px 359px #fff, 1467px 469px #fff,
    1434px 178px #fff, 686px 1086px #fff, 1799px 1933px #fff, 1453px 1376px #fff,
    1441px 71px #fff, 781px 1390px #fff, 1603px 1684px #fff, 1996px 630px #fff,
    498px 1077px #fff, 424px 562px #fff, 741px 1535px #fff, 1774px 1992px #fff,
    1581px 294px #fff, 599px 31px #fff, 971px 1908px #fff, 1025px 1389px #fff,
    251px 1479px #fff, 1468px 271px #fff, 567px 1575px #fff, 829px 487px #fff,
    1998px 1300px #fff, 9px 1089px #fff, 1946px 65px #fff, 907px 1958px #fff,
    580px 274px #fff, 371px 562px #fff, 1186px 714px #fff, 1085px 1491px #fff,
    965px 206px #fff, 1919px 679px #fff, 1197px 1006px #fff, 1536px 1352px #fff,
    1362px 521px #fff, 583px 1619px #fff, 1482px 869px #fff, 365px 340px #fff,
    1772px 1107px #fff, 1664px 325px #fff, 1613px 793px #fff, 1703px 1152px #fff,
    1856px 643px #fff, 1208px 1435px #fff, 1772px 200px #fff, 597px 1180px #fff,
    1903px 329px #fff, 194px 1788px #fff, 1134px 859px #fff, 956px 999px #fff,
    899px 322px #fff, 1084px 527px #fff, 471px 1890px #fff, 1084px 710px #fff,
    1178px 130px #fff, 161px 845px #fff, 781px 1060px #fff, 256px 1710px #fff,
    88px 49px #fff, 147px 1129px #fff, 864px 993px #fff, 1948px 459px #fff,
    441px 1665px #fff, 1918px 497px #fff, 461px 1158px #fff, 847px 364px #fff,
    1495px 29px #fff, 845px 1228px #fff, 790px 211px #fff, 706px 410px #fff,
    1257px 414px #fff, 416px 1055px #fff, 1985px 1408px #fff, 1157px 605px #fff,
    742px 582px #fff, 1865px 645px #fff, 241px 1510px #fff, 1047px 370px #fff,
    1017px 551px #fff, 247px 557px #fff, 387px 520px #fff, 93px 1098px #fff,
    1411px 477px #fff, 1076px 1993px #fff, 671px 1709px #fff, 1954px 183px #fff,
    353px 1698px #fff, 1426px 1285px #fff, 1868px 243px #fff, 230px 561px #fff,
    77px 1789px #fff, 1893px 673px #fff, 1059px 1181px #fff, 1359px 1321px #fff,
    35px 343px #fff, 629px 495px #fff, 1952px 245px #fff, 474px 1782px #fff,
    950px 1593px #fff, 940px 737px #fff, 85px 1845px #fff, 1293px 1918px #fff,
    995px 1711px #fff, 848px 108px #fff, 782px 1076px #fff, 1588px 129px #fff,
    836px 1658px #fff, 646px 1781px #fff, 595px 1977px #fff, 1712px 324px #fff,
    1065px 481px #fff, 1191px 1912px #fff, 554px 1875px #fff, 238px 1035px #fff,
    816px 174px #fff, 370px 1852px #fff, 46px 1061px #fff, 939px 346px #fff,
    1235px 887px #fff, 1004px 1745px #fff, 699px 1520px #fff, 323px 1999px #fff,
    1060px 867px #fff, 554px 246px #fff, 1632px 312px #fff, 105px 447px #fff,
    827px 312px #fff, 340px 306px #fff, 165px 1322px #fff, 159px 1687px #fff,
    339px 747px #fff, 713px 515px #fff, 1409px 1858px #fff, 523px 429px #fff,
    1676px 1927px #fff, 665px 1528px #fff, 1500px 1691px #fff, 230px 171px #fff,
    1901px 1368px #fff, 12px 826px #fff, 1592px 863px #fff, 116px 414px #fff,
    1772px 950px #fff, 1217px 830px #fff, 1115px 1447px #fff, 1175px 116px #fff,
    1751px 116px #fff, 434px 917px #fff, 894px 14px #fff, 623px 695px #fff,
    1159px 1865px #fff, 771px 1317px #fff, 1869px 237px #fff, 503px 780px #fff,
    52px 780px #fff, 1216px 1371px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: relative;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1668px 11409px #fff, 813px 1791px #fff, 1558px 1006px #fff,
    607px 705px #fff, 841px 258px #fff, 818px 530px #fff, 1744px 984px #fff,
    79px 83px #fff, 234px 840px #fff, 1206px 859px #fff, 1997px 1957px #fff,
    1639px 1576px #fff, 44px 1648px #fff, 1115px 1820px #fff, 1438px 497px #fff,
    66px 1848px #fff, 1820px 1251px #fff, 1919px 1134px #fff, 583px 337px #fff,
    67px 1056px #fff, 694px 1044px #fff, 94px 600px #fff, 408px 101px #fff,
    15px 1233px #fff, 1098px 974px #fff, 235px 562px #fff, 1561px 1965px #fff,
    100px 1146px #fff, 918px 181px #fff, 1502px 661px #fff, 1213px 1509px #fff,
    1578px 1507px #fff, 648px 322px #fff, 1512px 1124px #fff, 729px 416px #fff,
    1094px 592px #fff, 968px 1056px #fff, 1445px 1960px #fff, 1470px 1752px #fff,
    1820px 1427px #fff, 1435px 676px #fff, 1954px 1003px #fff, 1708px 880px #fff,
    1302px 1880px #fff, 733px 1952px #fff, 790px 1886px #fff, 1725px 754px #fff,
    1059px 1354px #fff, 717px 1766px #fff, 920px 1090px #fff, 1250px 893px #fff,
    246px 706px #fff, 1200px 1716px #fff, 927px 773px #fff, 333px 1776px #fff,
    130px 252px #fff, 310px 1829px #fff, 634px 218px #fff, 682px 1683px #fff,
    1117px 8px #fff, 16px 691px #fff, 703px 2000px #fff, 799px 802px #fff,
    1861px 286px #fff, 333px 211px #fff, 513px 1094px #fff, 1345px 486px #fff,
    358px 949px #fff, 836px 1140px #fff, 1470px 1360px #fff, 1849px 1582px #fff,
    470px 898px #fff, 880px 825px #fff, 1076px 529px #fff, 1387px 909px #fff,
    1373px 1386px #fff, 1603px 520px #fff, 161px 457px #fff, 647px 1129px #fff,
    445px 1312px #fff, 1977px 962px #fff, 1960px 1181px #fff, 951px 255px #fff,
    1400px 1495px #fff, 6px 671px #fff, 77px 1668px #fff, 175px 1728px #fff,
    1369px 1721px #fff, 1911px 1002px #fff, 1500px 1540px #fff,
    1808px 1757px #fff, 561px 872px #fff, 57px 97px #fff, 155px 1018px #fff,
    215px 1773px #fff, 292px 869px #fff, 572px 641px #fff, 166px 1044px #fff,
    1012px 682px #fff, 1px 1466px #fff, 1412px 1304px #fff, 1876px 1364px #fff,
    1180px 1062px #fff, 1767px 79px #fff, 1489px 1223px #fff, 1024px 284px #fff,
    588px 1013px #fff, 1730px 424px #fff, 1442px 162px #fff, 688px 1196px #fff,
    1641px 40px #fff, 106px 315px #fff, 998px 1588px #fff, 616px 1422px #fff,
    1412px 1388px #fff, 1164px 184px #fff, 539px 1140px #fff, 909px 484px #fff,
    1128px 901px #fff, 303px 1377px #fff, 702px 1228px #fff, 1135px 1234px #fff,
    324px 1914px #fff, 1296px 886px #fff, 955px 1554px #fff, 744px 1872px #fff,
    201px 1167px #fff, 728px 814px #fff, 1200px 577px #fff, 740px 340px #fff,
    1641px 689px #fff, 82px 668px #fff, 1706px 119px #fff, 1722px 816px #fff,
    1766px 1397px #fff, 1368px 390px #fff, 1988px 1498px #fff, 747px 1599px #fff,
    268px 1911px #fff, 1782px 888px #fff, 239px 706px #fff, 1502px 1636px #fff,
    892px 1947px #fff, 1763px 1728px #fff, 892px 1577px #fff, 1453px 1622px #fff,
    86px 1620px #fff, 1722px 116px #fff, 736px 1450px #fff, 418px 929px #fff,
    404px 1990px #fff, 1612px 1072px #fff, 1551px 1281px #fff,
    1103px 1938px #fff, 428px 1686px #fff, 744px 118px #fff, 1270px 153px #fff,
    863px 1731px #fff, 720px 345px #fff, 1421px 1040px #fff, 1254px 1482px #fff,
    815px 837px #fff, 1117px 1027px #fff, 1312px 1287px #fff, 1632px 1081px #fff,
    1596px 86px #fff, 130px 545px #fff, 940px 1359px #fff, 1437px 1792px #fff,
    1304px 1291px #fff, 1940px 1455px #fff, 1270px 823px #fff, 1120px 529px #fff,
    619px 1013px #fff, 1896px 1710px #fff, 1331px 1028px #fff, 432px 432px #fff,
    1859px 254px #fff, 1883px 191px #fff, 1436px 715px #fff, 412px 993px #fff,
    1642px 431px #fff, 742px 736px #fff, 1506px 95px #fff, 1340px 1334px #fff,
    1525px 1714px #fff, 1231px 165px #fff, 1938px 244px #fff, 306px 203px #fff,
    1943px 360px #fff, 900px 1134px #fff, 1264px 769px #fff, 202px 1437px #fff,
    276px 614px #fff, 313px 253px #fff, 287px 1426px #fff, 1449px 1158px #fff,
    1979px 128px #fff, 1518px 1374px #fff, 1942px 848px #fff, 47px 1541px #fff,
    1977px 1538px #fff, 1196px 1055px #fff, 1340px 1861px #fff,
    1615px 1459px #fff, 1684px 1460px #fff, 424px 1782px #fff, 156px 1230px #fff,
    1582px 1810px #fff, 1969px 1733px #fff, 1259px 1948px #fff, 761px 610px #fff,
    1359px 667px #fff, 231px 25px #fff, 101px 547px #fff, 1505px 1121px #fff,
    589px 230px #fff, 1743px 724px #fff, 1028px 322px #fff, 375px 528px #fff,
    1603px 895px #fff, 1562px 540px #fff, 1257px 197px #fff, 165px 1333px #fff,
    1876px 868px #fff, 1536px 1669px #fff, 1619px 683px #fff, 1498px 750px #fff,
    1346px 1955px #fff, 1221px 1610px #fff, 679px 909px #fff, 845px 1232px #fff,
    1248px 1084px #fff, 171px 566px #fff, 1933px 1434px #fff, 1064px 1805px #fff,
    1730px 629px #fff, 380px 432px #fff, 231px 1613px #fff, 1877px 766px #fff,
    1020px 1493px #fff, 915px 878px #fff, 917px 57px #fff, 1630px 1658px #fff,
    112px 1948px #fff, 1661px 15px #fff, 1952px 307px #fff, 952px 92px #fff,
    1159px 1364px #fff, 510px 148px #fff, 1680px 952px #fff, 1339px 1524px #fff,
    141px 1812px #fff, 1253px 207px #fff, 1854px 364px #fff, 958px 1841px #fff,
    1402px 909px #fff, 1037px 1051px #fff, 1634px 318px #fff, 331px 538px #fff,
    1621px 1817px #fff, 598px 1794px #fff, 355px 1893px #fff, 1px 1323px #fff,
    403px 1445px #fff, 1983px 190px #fff, 434px 460px #fff, 1145px 1401px #fff,
    1609px 594px #fff, 1614px 1315px #fff, 530px 1896px #fff, 350px 1328px #fff,
    1410px 1899px #fff, 799px 54px #fff, 1636px 487px #fff, 201px 558px #fff,
    1835px 885px #fff, 1478px 1674px #fff, 1727px 1260px #fff,
    1896px 1916px #fff, 611px 976px #fff, 1008px 386px #fff, 1914px 572px #fff,
    707px 384px #fff, 1343px 254px #fff, 969px 721px #fff, 31px 1981px #fff,
    862px 1144px #fff, 1906px 1690px #fff, 1711px 1522px #fff,
    1640px 1432px #fff, 1473px 92px #fff, 178px 1868px #fff, 1581px 488px #fff,
    1883px 286px #fff, 1458px 726px #fff, 551px 306px #fff, 1481px 825px #fff,
    1482px 739px #fff, 1186px 197px #fff, 482px 883px #fff, 1740px 1444px #fff,
    974px 559px #fff, 846px 1058px #fff, 1042px 333px #fff, 1671px 1986px #fff,
    333px 1433px #fff, 1791px 264px #fff, 355px 301px #fff, 1px 1667px #fff,
    1060px 1198px #fff, 1401px 1708px #fff, 1573px 177px #fff,
    1663px 1957px #fff, 744px 1796px #fff, 810px 487px #fff, 619px 1121px #fff,
    1899px 1375px #fff, 334px 700px #fff, 1801px 1764px #fff, 1681px 1810px #fff,
    1199px 510px #fff, 1037px 1710px #fff, 1880px 1355px #fff, 1811px 803px #fff,
    1151px 122px #fff, 1751px 1435px #fff, 983px 118px #fff, 661px 337px #fff,
    321px 806px #fff, 727px 497px #fff, 1442px 1555px #fff, 1401px 1612px #fff,
    85px 1434px #fff, 1358px 1076px #fff, 1491px 1906px #fff, 906px 1043px #fff,
    635px 337px #fff, 1143px 1929px #fff, 671px 1767px #fff, 1875px 446px #fff,
    1267px 1605px #fff, 1102px 716px #fff, 1582px 983px #fff, 1492px 352px #fff,
    1512px 1137px #fff, 376px 1111px #fff, 219px 804px #fff, 1098px 875px #fff,
    583px 122px #fff, 559px 289px #fff, 1589px 450px #fff, 589px 1976px #fff,
    909px 1112px #fff, 1168px 351px #fff, 688px 105px #fff, 346px 1205px #fff,
    687px 1693px #fff, 1319px 1816px #fff, 1339px 1041px #fff, 1551px 35px #fff,
    107px 1146px #fff, 241px 1112px #fff, 754px 30px #fff, 1248px 1277px #fff,
    1205px 1501px #fff, 1700px 113px #fff, 1299px 6px #fff, 169px 685px #fff,
    764px 467px #fff, 953px 1376px #fff, 1973px 797px #fff, 567px 1140px #fff,
    185px 736px #fff, 965px 985px #fff, 1761px 534px #fff, 974px 1492px #fff,
    1773px 1049px #fff, 1720px 178px #fff, 912px 1156px #fff, 987px 464px #fff,
    1892px 1019px #fff, 1415px 587px #fff, 518px 628px #fff, 83px 693px #fff,
    159px 190px #fff, 169px 1463px #fff, 1906px 666px #fff, 1010px 1597px #fff,
    715px 1616px #fff, 890px 1207px #fff, 1412px 119px #fff, 965px 709px #fff,
    652px 1365px #fff, 354px 729px #fff, 685px 528px #fff, 49px 1641px #fff,
    1107px 23px #fff, 1905px 1227px #fff, 298px 1492px #fff, 1272px 510px #fff,
    1402px 1347px #fff, 1872px 1958px #fff, 207px 1465px #fff, 388px 269px #fff,
    1593px 1009px #fff, 1295px 578px #fff, 1640px 1240px #fff,
    1620px 1606px #fff, 1083px 1824px #fff, 962px 1292px #fff,
    1619px 1606px #fff, 118px 500px #fff, 1253px 565px #fff, 921px 940px #fff,
    1757px 1485px #fff, 684px 664px #fff, 98px 128px #fff, 775px 1285px #fff,
    1486px 1359px #fff, 1328px 1511px #fff, 182px 1720px #fff,
    1046px 1962px #fff, 1845px 954px #fff, 703px 288px #fff, 901px 573px #fff,
    854px 1289px #fff, 1258px 512px #fff, 1319px 1540px #fff, 1969px 1313px #fff,
    573px 842px #fff, 1657px 1162px #fff, 734px 635px #fff, 979px 1008px #fff,
    747px 647px #fff, 891px 1473px #fff, 595px 766px #fff, 1835px 1081px #fff,
    1021px 415px #fff, 904px 1550px #fff, 696px 698px #fff, 158px 1257px #fff,
    585px 1648px #fff, 1563px 798px #fff, 284px 1388px #fff, 1945px 207px #fff,
    1741px 131px #fff, 1962px 506px #fff, 1337px 419px #fff, 299px 395px #fff,
    870px 76px #fff, 397px 621px #fff, 1607px 1980px #fff, 1997px 1449px #fff,
    897px 1282px #fff, 1559px 1321px #fff, 1134px 1776px #fff, 984px 1500px #fff,
    1650px 638px #fff, 1046px 1550px #fff, 1452px 576px #fff, 1997px 74px #fff,
    132px 667px #fff, 1784px 874px #fff, 254px 1237px #fff, 1876px 142px #fff,
    1091px 849px #fff, 430px 347px #fff, 131px 623px #fff, 267px 1024px #fff,
    691px 267px #fff, 1835px 1717px #fff, 969px 526px #fff, 741px 1274px #fff,
    1105px 63px #fff, 692px 912px #fff, 168px 1543px #fff, 548px 119px #fff,
    725px 666px #fff, 1438px 1445px #fff, 609px 1669px #fff, 1051px 1132px #fff,
    520px 1920px #fff, 1040px 1296px #fff, 383px 189px #fff, 1574px 1821px #fff,
    1597px 259px #fff, 623px 1918px #fff, 1207px 633px #fff, 1932px 952px #fff,
    274px 1905px #fff, 615px 974px #fff, 219px 1518px #fff, 470px 656px #fff,
    1940px 941px #fff, 37px 1440px #fff, 1854px 1487px #fff, 818px 1329px #fff,
    104px 362px #fff, 488px 1484px #fff, 859px 1619px #fff, 1526px 1548px #fff,
    1089px 816px #fff, 6px 2000px #fff, 1701px 1800px #fff, 825px 1325px #fff,
    1636px 1335px #fff, 84px 116px #fff, 1591px 678px #fff, 447px 649px #fff,
    1190px 131px #fff, 128px 1799px #fff, 1857px 1687px #fff, 1404px 1807px #fff,
    1589px 911px #fff, 1034px 1429px #fff, 1635px 1833px #fff, 134px 1295px #fff,
    866px 729px #fff, 284px 981px #fff, 1764px 464px #fff, 240px 1785px #fff,
    709px 219px #fff, 1759px 1341px #fff, 1329px 270px #fff, 1127px 1938px #fff,
    253px 1430px #fff, 1830px 126px #fff, 1945px 1044px #fff, 1396px 1870px #fff,
    1151px 843px #fff, 1027px 860px #fff, 178px 17px #fff, 1646px 1059px #fff,
    310px 1175px #fff, 589px 1179px #fff, 1341px 699px #fff, 1186px 287px #fff,
    1987px 926px #fff, 499px 1210px #fff, 1978px 1498px #fff, 1915px 21px #fff,
    1081px 496px #fff, 126px 724px #fff, 1372px 359px #fff, 1467px 469px #fff,
    1434px 178px #fff, 686px 1086px #fff, 1799px 1933px #fff, 1453px 1376px #fff,
    1441px 71px #fff, 781px 1390px #fff, 1603px 1684px #fff, 1996px 630px #fff,
    498px 1077px #fff, 424px 562px #fff, 741px 1535px #fff, 1774px 1992px #fff,
    1581px 294px #fff, 599px 31px #fff, 971px 1908px #fff, 1025px 1389px #fff,
    251px 1479px #fff, 1468px 271px #fff, 567px 1575px #fff, 829px 487px #fff,
    1998px 1300px #fff, 9px 1089px #fff, 1946px 65px #fff, 907px 1958px #fff,
    580px 274px #fff, 371px 562px #fff, 1186px 714px #fff, 1085px 1491px #fff,
    965px 206px #fff, 1919px 679px #fff, 1197px 1006px #fff, 1536px 1352px #fff,
    1362px 521px #fff, 583px 1619px #fff, 1482px 869px #fff, 365px 340px #fff,
    1772px 1107px #fff, 1664px 325px #fff, 1613px 793px #fff, 1703px 1152px #fff,
    1856px 643px #fff, 1208px 1435px #fff, 1772px 200px #fff, 597px 1180px #fff,
    1903px 329px #fff, 194px 1788px #fff, 1134px 859px #fff, 956px 999px #fff,
    899px 322px #fff, 1084px 527px #fff, 471px 1890px #fff, 1084px 710px #fff,
    1178px 130px #fff, 161px 845px #fff, 781px 1060px #fff, 256px 1710px #fff,
    88px 49px #fff, 147px 1129px #fff, 864px 993px #fff, 1948px 459px #fff,
    441px 1665px #fff, 1918px 497px #fff, 461px 1158px #fff, 847px 364px #fff,
    1495px 29px #fff, 845px 1228px #fff, 790px 211px #fff, 706px 410px #fff,
    1257px 414px #fff, 416px 1055px #fff, 1985px 1408px #fff, 1157px 605px #fff,
    742px 582px #fff, 1865px 645px #fff, 241px 1510px #fff, 1047px 370px #fff,
    1017px 551px #fff, 247px 557px #fff, 387px 520px #fff, 93px 1098px #fff,
    1411px 477px #fff, 1076px 1993px #fff, 671px 1709px #fff, 1954px 183px #fff,
    353px 1698px #fff, 1426px 1285px #fff, 1868px 243px #fff, 230px 561px #fff,
    77px 1789px #fff, 1893px 673px #fff, 1059px 1181px #fff, 1359px 1321px #fff,
    35px 343px #fff, 629px 495px #fff, 1952px 245px #fff, 474px 1782px #fff,
    950px 1593px #fff, 940px 737px #fff, 85px 1845px #fff, 1293px 1918px #fff,
    995px 1711px #fff, 848px 108px #fff, 782px 1076px #fff, 1588px 129px #fff,
    836px 1658px #fff, 646px 1781px #fff, 595px 1977px #fff, 1712px 324px #fff,
    1065px 481px #fff, 1191px 1912px #fff, 554px 1875px #fff, 238px 1035px #fff,
    816px 174px #fff, 370px 1852px #fff, 46px 1061px #fff, 939px 346px #fff,
    1235px 887px #fff, 1004px 1745px #fff, 699px 1520px #fff, 323px 1999px #fff,
    1060px 867px #fff, 554px 246px #fff, 1632px 312px #fff, 105px 447px #fff,
    827px 312px #fff, 340px 306px #fff, 165px 1322px #fff, 159px 1687px #fff,
    339px 747px #fff, 713px 515px #fff, 1409px 1858px #fff, 523px 429px #fff,
    1676px 1927px #fff, 665px 1528px #fff, 1500px 1691px #fff, 230px 171px #fff,
    1901px 1368px #fff, 12px 826px #fff, 1592px 863px #fff, 116px 414px #fff,
    1772px 950px #fff, 1217px 830px #fff, 1115px 1447px #fff, 1175px 116px #fff,
    1751px 116px #fff, 434px 917px #fff, 894px 14px #fff, 623px 695px #fff,
    1159px 1865px #fff, 771px 1317px #fff, 1869px 237px #fff, 503px 780px #fff,
    52px 780px #fff, 1216px 1371px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 38px 11806px #fff, 1762px 525px #fff, 1215px 1412px #fff,
    1993px 1130px #fff, 1436px 1184px #fff, 1964px 1675px #fff,
    310px 1485px #fff, 285px 508px #fff, 1212px 397px #fff, 843px 1125px #fff,
    1909px 1942px #fff, 310px 820px #fff, 163px 1478px #fff, 1536px 888px #fff,
    258px 167px #fff, 652px 372px #fff, 1311px 1218px #fff, 1948px 586px #fff,
    505px 719px #fff, 640px 30px #fff, 499px 1248px #fff, 317px 1386px #fff,
    1467px 272px #fff, 323px 952px #fff, 1328px 251px #fff, 806px 1467px #fff,
    1260px 436px #fff, 1157px 1076px #fff, 277px 1936px #fff, 871px 109px #fff,
    1889px 611px #fff, 307px 1690px #fff, 897px 1173px #fff, 812px 1700px #fff,
    1359px 1655px #fff, 1532px 1157px #fff, 402px 45px #fff, 1311px 1265px #fff,
    949px 954px #fff, 344px 1880px #fff, 261px 1807px #fff, 664px 1990px #fff,
    1405px 923px #fff, 1069px 1068px #fff, 87px 1733px #fff, 192px 1610px #fff,
    28px 104px #fff, 1227px 1212px #fff, 118px 1990px #fff, 1770px 1671px #fff,
    404px 158px #fff, 1105px 1529px #fff, 1914px 863px #fff, 793px 1440px #fff,
    1295px 1399px #fff, 378px 1392px #fff, 281px 1199px #fff, 381px 1381px #fff,
    638px 1323px #fff, 1045px 397px #fff, 114px 1028px #fff, 731px 1697px #fff,
    595px 1899px #fff, 1037px 589px #fff, 184px 1727px #fff, 1787px 1454px #fff,
    9px 1269px #fff, 1635px 445px #fff, 1364px 1680px #fff, 1471px 265px #fff,
    335px 293px #fff, 1658px 147px #fff, 188px 126px #fff, 818px 1067px #fff,
    1933px 1400px #fff, 859px 1312px #fff, 291px 721px #fff, 1196px 1614px #fff,
    1089px 928px #fff, 377px 1988px #fff, 1936px 578px #fff, 894px 1396px #fff,
    27px 342px #fff, 1331px 982px #fff, 1277px 405px #fff, 100px 173px #fff,
    395px 631px #fff, 964px 431px #fff, 531px 54px #fff, 253px 347px #fff,
    945px 1226px #fff, 342px 1893px #fff, 1900px 508px #fff, 1198px 752px #fff,
    817px 955px #fff, 769px 323px #fff, 612px 1131px #fff, 1704px 1179px #fff,
    420px 785px #fff, 758px 1773px #fff, 662px 730px #fff, 1729px 1144px #fff,
    332px 118px #fff, 1206px 995px #fff, 1628px 518px #fff, 856px 1826px #fff,
    902px 1383px #fff, 998px 848px #fff, 135px 868px #fff, 1704px 1503px #fff,
    34px 495px #fff, 1807px 1756px #fff, 491px 945px #fff, 728px 187px #fff,
    1432px 148px #fff, 368px 1779px #fff, 1657px 1965px #fff, 1058px 1469px #fff,
    737px 713px #fff, 1415px 761px #fff, 465px 717px #fff, 107px 673px #fff,
    26px 792px #fff, 138px 1708px #fff, 1763px 218px #fff, 380px 1959px #fff,
    1757px 1277px #fff, 745px 1560px #fff, 89px 1271px #fff, 1486px 1713px #fff,
    1931px 332px #fff, 1754px 1373px #fff, 272px 1237px #fff, 1908px 1880px #fff,
    83px 1420px #fff, 1872px 686px #fff, 315px 535px #fff, 1986px 552px #fff,
    191px 957px #fff, 1413px 830px #fff, 288px 1699px #fff, 1019px 536px #fff,
    737px 48px #fff, 1524px 1876px #fff, 454px 1007px #fff, 204px 1032px #fff,
    1486px 158px #fff, 1164px 962px #fff, 684px 1552px #fff, 1888px 678px #fff,
    1872px 508px #fff, 1962px 1395px #fff, 1847px 1305px #fff, 1038px 153px #fff,
    1880px 772px #fff, 1231px 594px #fff, 1957px 534px #fff, 1289px 425px #fff,
    1151px 89px #fff, 493px 152px #fff, 1035px 1610px #fff, 1649px 1714px #fff,
    1319px 888px #fff, 534px 1103px #fff, 1391px 901px #fff, 1133px 95px #fff,
    18px 281px #fff, 635px 1583px #fff, 1944px 1830px #fff, 1627px 445px #fff,
    1312px 206px #fff, 1887px 187px #fff, 273px 1713px #fff, 1663px 474px #fff,
    477px 1794px #fff, 713px 1086px #fff, 926px 779px #fff, 155px 922px #fff,
    1203px 1374px #fff, 1672px 770px #fff, 889px 891px #fff, 896px 547px #fff,
    108px 1038px #fff, 257px 1504px #fff, 601px 125px #fff, 955px 130px #fff,
    731px 1778px #fff, 1593px 1289px #fff, 1095px 1405px #fff, 32px 1851px #fff,
    421px 1986px #fff, 1500px 1075px #fff, 1240px 1018px #fff,
    1753px 1934px #fff, 1219px 1658px #fff, 389px 1399px #fff, 1747px 594px #fff,
    611px 1576px #fff, 20px 1009px #fff, 290px 814px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: relative;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 38px 11806px #fff, 1762px 525px #fff, 1215px 1412px #fff,
    1993px 1130px #fff, 1436px 1184px #fff, 1964px 1675px #fff,
    310px 1485px #fff, 285px 508px #fff, 1212px 397px #fff, 843px 1125px #fff,
    1909px 1942px #fff, 310px 820px #fff, 163px 1478px #fff, 1536px 888px #fff,
    258px 167px #fff, 652px 372px #fff, 1311px 1218px #fff, 1948px 586px #fff,
    505px 719px #fff, 640px 30px #fff, 499px 1248px #fff, 317px 1386px #fff,
    1467px 272px #fff, 323px 952px #fff, 1328px 251px #fff, 806px 1467px #fff,
    1260px 436px #fff, 1157px 1076px #fff, 277px 1936px #fff, 871px 109px #fff,
    1889px 611px #fff, 307px 1690px #fff, 897px 1173px #fff, 812px 1700px #fff,
    1359px 1655px #fff, 1532px 1157px #fff, 402px 45px #fff, 1311px 1265px #fff,
    949px 954px #fff, 344px 1880px #fff, 261px 1807px #fff, 664px 1990px #fff,
    1405px 923px #fff, 1069px 1068px #fff, 87px 1733px #fff, 192px 1610px #fff,
    28px 104px #fff, 1227px 1212px #fff, 118px 1990px #fff, 1770px 1671px #fff,
    404px 158px #fff, 1105px 1529px #fff, 1914px 863px #fff, 793px 1440px #fff,
    1295px 1399px #fff, 378px 1392px #fff, 281px 1199px #fff, 381px 1381px #fff,
    638px 1323px #fff, 1045px 397px #fff, 114px 1028px #fff, 731px 1697px #fff,
    595px 1899px #fff, 1037px 589px #fff, 184px 1727px #fff, 1787px 1454px #fff,
    9px 1269px #fff, 1635px 445px #fff, 1364px 1680px #fff, 1471px 265px #fff,
    335px 293px #fff, 1658px 147px #fff, 188px 126px #fff, 818px 1067px #fff,
    1933px 1400px #fff, 859px 1312px #fff, 291px 721px #fff, 1196px 1614px #fff,
    1089px 928px #fff, 377px 1988px #fff, 1936px 578px #fff, 894px 1396px #fff,
    27px 342px #fff, 1331px 982px #fff, 1277px 405px #fff, 100px 173px #fff,
    395px 631px #fff, 964px 431px #fff, 531px 54px #fff, 253px 347px #fff,
    945px 1226px #fff, 342px 1893px #fff, 1900px 508px #fff, 1198px 752px #fff,
    817px 955px #fff, 769px 323px #fff, 612px 1131px #fff, 1704px 1179px #fff,
    420px 785px #fff, 758px 1773px #fff, 662px 730px #fff, 1729px 1144px #fff,
    332px 118px #fff, 1206px 995px #fff, 1628px 518px #fff, 856px 1826px #fff,
    902px 1383px #fff, 998px 848px #fff, 135px 868px #fff, 1704px 1503px #fff,
    34px 495px #fff, 1807px 1756px #fff, 491px 945px #fff, 728px 187px #fff,
    1432px 148px #fff, 368px 1779px #fff, 1657px 1965px #fff, 1058px 1469px #fff,
    737px 713px #fff, 1415px 761px #fff, 465px 717px #fff, 107px 673px #fff,
    26px 792px #fff, 138px 1708px #fff, 1763px 218px #fff, 380px 1959px #fff,
    1757px 1277px #fff, 745px 1560px #fff, 89px 1271px #fff, 1486px 1713px #fff,
    1931px 332px #fff, 1754px 1373px #fff, 272px 1237px #fff, 1908px 1880px #fff,
    83px 1420px #fff, 1872px 686px #fff, 315px 535px #fff, 1986px 552px #fff,
    191px 957px #fff, 1413px 830px #fff, 288px 1699px #fff, 1019px 536px #fff,
    737px 48px #fff, 1524px 1876px #fff, 454px 1007px #fff, 204px 1032px #fff,
    1486px 158px #fff, 1164px 962px #fff, 684px 1552px #fff, 1888px 678px #fff,
    1872px 508px #fff, 1962px 1395px #fff, 1847px 1305px #fff, 1038px 153px #fff,
    1880px 772px #fff, 1231px 594px #fff, 1957px 534px #fff, 1289px 425px #fff,
    1151px 89px #fff, 493px 152px #fff, 1035px 1610px #fff, 1649px 1714px #fff,
    1319px 888px #fff, 534px 1103px #fff, 1391px 901px #fff, 1133px 95px #fff,
    18px 281px #fff, 635px 1583px #fff, 1944px 1830px #fff, 1627px 445px #fff,
    1312px 206px #fff, 1887px 187px #fff, 273px 1713px #fff, 1663px 474px #fff,
    477px 1794px #fff, 713px 1086px #fff, 926px 779px #fff, 155px 922px #fff,
    1203px 1374px #fff, 1672px 770px #fff, 889px 891px #fff, 896px 547px #fff,
    108px 1038px #fff, 257px 1504px #fff, 601px 125px #fff, 955px 130px #fff,
    731px 1778px #fff, 1593px 1289px #fff, 1095px 1405px #fff, 32px 1851px #fff,
    421px 1986px #fff, 1500px 1075px #fff, 1240px 1018px #fff,
    1753px 1934px #fff, 1219px 1658px #fff, 389px 1399px #fff, 1747px 594px #fff,
    611px 1576px #fff, 20px 1009px #fff, 290px 814px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 603px 11331px #fff, 528px 1641px #fff, 373px 1357px #fff,
    277px 197px #fff, 1259px 1003px #fff, 696px 1241px #fff, 39px 588px #fff,
    749px 549px #fff, 1945px 1003px #fff, 1553px 1948px #fff, 29px 635px #fff,
    1949px 1950px #fff, 1890px 465px #fff, 527px 144px #fff, 745px 462px #fff,
    1244px 1827px #fff, 1163px 1946px #fff, 1167px 1891px #fff,
    1546px 1320px #fff, 595px 1347px #fff, 374px 755px #fff, 176px 1759px #fff,
    451px 1818px #fff, 399px 1208px #fff, 348px 346px #fff, 305px 1205px #fff,
    1755px 1410px #fff, 81px 1642px #fff, 1069px 1346px #fff, 1780px 900px #fff,
    776px 1971px #fff, 1757px 1090px #fff, 1954px 1124px #fff, 1473px 172px #fff,
    1882px 55px #fff, 39px 245px #fff, 1714px 1365px #fff, 1557px 1794px #fff,
    143px 1864px #fff, 514px 1411px #fff, 316px 1118px #fff, 552px 137px #fff,
    1217px 999px #fff, 1186px 1373px #fff, 205px 1560px #fff, 922px 310px #fff,
    1003px 1358px #fff, 1498px 660px #fff, 1899px 1121px #fff, 2000px 27px #fff,
    1025px 414px #fff, 931px 1264px #fff, 857px 1021px #fff, 114px 1133px #fff,
    1577px 1298px #fff, 861px 1576px #fff, 709px 1032px #fff, 1147px 1438px #fff,
    801px 1737px #fff, 646px 1375px #fff, 966px 1613px #fff, 1168px 623px #fff,
    1026px 1137px #fff, 1965px 138px #fff, 880px 41px #fff, 976px 1651px #fff,
    375px 1812px #fff, 1849px 838px #fff, 1991px 1597px #fff, 1949px 1285px #fff,
    844px 1661px #fff, 294px 512px #fff, 1028px 1111px #fff, 929px 1732px #fff,
    1135px 306px #fff, 50px 707px #fff, 1738px 1253px #fff, 850px 45px #fff,
    854px 1697px #fff, 376px 1164px #fff, 1936px 1194px #fff, 325px 1575px #fff,
    69px 413px #fff, 1716px 1916px #fff, 30px 553px #fff, 1900px 461px #fff,
    1092px 888px #fff, 341px 1791px #fff, 204px 1835px #fff, 1125px 233px #fff,
    61px 844px #fff, 468px 427px #fff, 1796px 1920px #fff, 264px 612px #fff,
    75px 1354px #fff, 576px 1267px #fff, 565px 1076px #fff, 32px 1809px #fff,
    548px 1908px #fff, 197px 764px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: relative;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 603px 11331px #fff, 528px 1641px #fff, 373px 1357px #fff,
    277px 197px #fff, 1259px 1003px #fff, 696px 1241px #fff, 39px 588px #fff,
    749px 549px #fff, 1945px 1003px #fff, 1553px 1948px #fff, 29px 635px #fff,
    1949px 1950px #fff, 1890px 465px #fff, 527px 144px #fff, 745px 462px #fff,
    1244px 1827px #fff, 1163px 1946px #fff, 1167px 1891px #fff,
    1546px 1320px #fff, 595px 1347px #fff, 374px 755px #fff, 176px 1759px #fff,
    451px 1818px #fff, 399px 1208px #fff, 348px 346px #fff, 305px 1205px #fff,
    1755px 1410px #fff, 81px 1642px #fff, 1069px 1346px #fff, 1780px 900px #fff,
    776px 1971px #fff, 1757px 1090px #fff, 1954px 1124px #fff, 1473px 172px #fff,
    1882px 55px #fff, 39px 245px #fff, 1714px 1365px #fff, 1557px 1794px #fff,
    143px 1864px #fff, 514px 1411px #fff, 316px 1118px #fff, 552px 137px #fff,
    1217px 999px #fff, 1186px 1373px #fff, 205px 1560px #fff, 922px 310px #fff,
    1003px 1358px #fff, 1498px 660px #fff, 1899px 1121px #fff, 2000px 27px #fff,
    1025px 414px #fff, 931px 1264px #fff, 857px 1021px #fff, 114px 1133px #fff,
    1577px 1298px #fff, 861px 1576px #fff, 709px 1032px #fff, 1147px 1438px #fff,
    801px 1737px #fff, 646px 1375px #fff, 966px 1613px #fff, 1168px 623px #fff,
    1026px 1137px #fff, 1965px 138px #fff, 880px 41px #fff, 976px 1651px #fff,
    375px 1812px #fff, 1849px 838px #fff, 1991px 1597px #fff, 1949px 1285px #fff,
    844px 1661px #fff, 294px 512px #fff, 1028px 1111px #fff, 929px 1732px #fff,
    1135px 306px #fff, 50px 707px #fff, 1738px 1253px #fff, 850px 45px #fff,
    854px 1697px #fff, 376px 1164px #fff, 1936px 1194px #fff, 325px 1575px #fff,
    69px 413px #fff, 1716px 1916px #fff, 30px 553px #fff, 1900px 461px #fff,
    1092px 888px #fff, 341px 1791px #fff, 204px 1835px #fff, 1125px 233px #fff,
    61px 844px #fff, 468px 427px #fff, 1796px 1920px #fff, 264px 612px #fff,
    75px 1354px #fff, 576px 1267px #fff, 565px 1076px #fff, 32px 1809px #fff,
    548px 1908px #fff, 197px 764px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
